node_modules/
npm-debug.log*

# Xcode / Capacitor iOS
ios/App/Pods/
ios/App/build/
ios/App/DerivedData/
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
ios/App/App.xcodeproj/project.xcworkspace/xcuserdata/
*.xcuserstate

.DS_Store
Thumbs.db
